.gallery-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.thumbnails {
  width: 100%;
  height: 110px;
  position: relative;
}
