.virtual-canvas-viewport {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100%;
}

.virtual-canvas-scroll-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

canvas {
  width: 100%;
  height: 100%
}